<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="databaseSets" type="System.Configuration.NameValueSectionHandler,           System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="databases" type="System.Configuration.NameValueSectionHandler,           System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <appSettings>
    <!-- Specifies if tooltips are displayed
		-->
    <add key="DisplayToolTips" value="true"/>
    <!-- Event Log, Trace Log and Transaction Log settings:
		1. The EventLog Level setting (options are "Error", "Warning", "Info", and "Verbose"
		2. The name of the machine on which the event log resides, default is "." (local machine)
		3. The name of the log
		-->
    <add key="EventLog\Level" value="Verbose"/>
    <add key="EventLog\Machine" value="."/>
    <add key="EventLog\Name" value="Application"/>
    <add key="TraceLog\Machine" value="."/>
    <add key="TraceLog\Name" value="Application"/>
    <add key="TransactionLog\Machine" value="."/>
    <add key="TransactionLog\Name" value="Application"/>
    <!-- If set to false, indicates the application is not localized,
		and uses hard-coded strings for displaying messages and
		for user interface text. If true, specifies the application uses
		mmMessageMgr to data-drive application text.
		-->
    <add key="LocalizeApp" value="true"/>
    <!-- Specifies the primary key of the default application language
	   (for localization purposes). Only used when LocalizeApp="true"
	    -->
    <add key="DefaultLanguage" value="1"/>
    <!-- Specifies the database key for application messages
		This key doesn't need to be specified if there is only one
		database in your application specified in the <databases> element.
		Only used when LocalizeApp="true"
		-->
    <add key="MessageDatabaseKey" value=""/>
    <!-- Specifies the database key for application security tables
		This key doesn't need to be specified if there is only one
		database in your application specified in the <databases> element
		-->
    <add key="SecurityDatabaseKey" value="NetScale"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <databases>
    <add key="Netscale\Connection" value="Server=(local)\ ;Database=NetscaleV2_5RMLogiQ;Trusted_Connection=True;"/>
    <add key="Netscale\DataAccessClass" value="DataAccessSql"/>
    <add key="EntityDataModelContainer\DataAccessClass" value="DataAccessSqlEF"/>
  </databases>
  <system.windows.forms jitDebugging="true"/>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="EntityDataModelContainer" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=(local)\;Database=NetscaleV2_5RMLogiQ;Trusted_Connection=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RibbonControlsLibrary" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.11019" newVersion="4.0.0.11019"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RibbonControlsLibrary" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.11019" newVersion="4.0.0.11019"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
